* {
    box-sizing: border-box;
  }
body {
    font-family: Verdana, sans-serif;
}
.hero-section{
    width: 100%;
    height: 655px;
    background-image: url(../img/wizarding-world-harry-potter-orlando-hermoine-ron-art-a-00.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -50px;
    background-attachment: fixed;
}
h1,h3{
    text-align: center;
    color: #fff;
}
h1{
    font-size: 60px;
    padding-top: 15%;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: 3; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
h3{
    padding-top: 5%;
    font-size: 30px;
    -webkit-animation-name: example2; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: 3; /* Safari 4.0 - 8.0 */
    animation-name: example2;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@-webkit-keyframes example {
    from{margin-top: -350px;}
    to{padding-top: 15%;}
}

/* Standard syntax */
@keyframes example {
    from{margin-top: -350px;}
    to{padding-top: 15%;}
}
@-webkit-keyframes example2 {
    from{margin-top: -350px;}
    to{padding-top: 5%;}
}

/* Standard syntax */
@keyframes example2 {
    from{margin-top: -350px;}
    to{padding-top: 5%;}
}
.mySlides {
    display: none;
}
img {
    vertical-align: middle;
    width: 100%;
    height: 650px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
    height: 500px;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 35px;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  text-align: center;
  margin-top: -250px;
}


/* The dots below */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 1.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 15s;
  animation-name: fade;
  animation-duration: 15s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}