.hero-section{
    width: 100%;
    height: 655px;
    background-image: url(../img/wizarding-world-harry-potter-orlando-hermoine-ron-art-a-00.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -50px;
}